
     {% if page.handle == 'about' or page.handle == 'about-us' %}

      {% section 'page-title-about' %}

      {%- elsif  page.handle == 'journal'   -%}

      {% section 'page-title-journal' %}

      {%- else -%}

      {% section 'page-title' %}

      {%- endif -%}

<div class="page-width">
  <div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="rte">
        {{ page.content }}
      </div>
    </div>
  </div>
</div>

{% section 'page-bottom-shape'%}